/* Fondo gris plata global  */
:root,
html, body, #app {
  background-color: #f2f2f2;
  min-height: 100%;
  height: 100%;
}

#app {
  background-color: #f2f2f2;
}


body, #app, .app-root {
  background-color: #f2f2f2 !important;
}



